{% for championship in data %}
    <tr>
        <td>{{ championship.id }}</td>
        <td>
            {{ championship.title }}
            <a href="{{ path('edit_championship', {'id': championship.id}) }}" title="{{ "edit"|trans }} {{ championship.title }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ championship.holder }}</td>
        <td>{{ championship.mode }}</td>
        <td>
            {% if championship.game %}
                {{ championship.game.name }}
                <a href="{{ path('edit_game', {'id': championship.game.id}) }}" title="{{ "edit"|trans }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            {% endif %}
        </td>
        <td>
            {% if championship.type %}
                <a href="{{ path('type', {'id': championship.type.id}) }}" title="{{ "see"|trans }}">{{ championship.type.slug|upper }}</a>
            {% endif %}
        </td>
        <td>
            {% if championship.link %}
                <a href="{{ championship.link.url }}" target="_blank">
                    {{ championship.link.url }}
                </a>
            {% endif %}
        </td>
        <td>
            {% if championship.profile %}
                {{ championship.profile.name }}
                <a href="{{ path('edit_profile', {'id': championship.profile.id}) }}" title="{{ "edit"|trans }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            {% endif %}
        </td>
        <td>
            {% if championship.file %}
                {% include 'files/_filename.html.twig' with {'file': championship.file} %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
