<li>
    {{ scoreUser.user.username }} {{ scoreUser.points ? scoreUser.points ~ 'pts' : '' }} {{ scoreUser.isWin == 1 ? 'W' : '' }}{{ scoreUser.isDraw == 1 ? 'D' : '' }}{{ scoreUser.isLose == 1 ? 'L' : '' }}
    <a href="{{ path('edit_user_score', {'id': scoreUser.id}) }}" title="{{ "edit"|trans }}" target="_blank">
        <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
</li>