{% for score in data %}
    <tr>
        <td>
          {{ score.id }}
          <a href="{{ path('edit_score', {'id': score.id}) }}" title="{{ "edit"|trans }}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
        </td>
        <td>
          {% if score.game %}
              {{ score.game.name }}
          {% endif %}
        </td>
        <td>
          {% if score.type %}
            <a href="{{ path('type', {'id': score.type.id}) }}" title="{{ "see"|trans }}">{{ score.type.slug|upper }}</a>
          {% endif %}
        </td>
        <td>
            {% if score.activity %}
                {% set difference = date(score.activity.end).diff(date(score.activity.start)) %}
                {% set hours = difference.h %}
                {% set minutes = difference.i %}

                <a href="{{ path('activity', {'id': score.activity.id}) }}" title="{{ "see"|trans }}">
                  {{ score.activity.name }} {{ score.activity.start|date('d/m/Y H:i') }} ({{ hours }}h{{ minutes ?: '' }})
                </a>
                <br>{{ score.activity.description }}
            {% endif %}
        </td>
        <td>
          {{ score.home }}
          {% for scoreUser in score.scoreUsers %}
            {% if scoreUser.isHome == 1 %}
              {% include 'scores/_score_user_data.html.twig' with {'scoreUser': scoreUser} %}
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {{ score.homeAwayDifference }} ({{ score.homePoints }}-{{ score.awayPoints }})
        </td>
        <td>
          {{ score.away }}
          {% for scoreUser in score.scoreUsers %}
            {% if scoreUser.isHome == 0 %}
              {% include 'scores/_score_user_data.html.twig' with {'scoreUser': scoreUser} %}
            {% endif %}
          {% endfor %}
        </td>
        <td>{{ score.homePlayers }}v{{ score.awayPlayers }}</td>
        <td>{{ score.duration }}</td>
        <td>{{ score.tournament }}</td>
        <td>{{ score.description }}</td>
        <td>{{ score.difficulty }}</td>
        <td>
          {% for file in score.files %}
            <li>
              {% include 'files/_filename.html.twig' with {'file': file} %}
            </li>
          {% endfor %}
        </td>
    </tr>
{% endfor %}
