{% extends 'base.html.twig' %}

{% block scroll %}{% endblock %}
{% block body_class %}class="login-page"{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="page-header-image" style="background-color:#203650;"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" action="{{ path('login_form') }}" method="post">
                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                <img src="{{ asset('images/login.png') }}" alt="">
                            </div>
                        </div>
                        <div class="content">
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="input-group form-group-no-border input-lg">
                                <input type="text" class="form-control" placeholder="{{ "username"|trans }}" id="username" name="_username" value="{{ last_username }}" />
                            </div>
                            <div class="input-group form-group-no-border input-lg">
                                <input type="password" id="password" name="_password" placeholder="{{ "password"|trans }}" class="form-control" />
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">
                                {{ "login"|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}