{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/countries.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{{ country.slug|trans }}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('countries') }}">{{ "countries"|trans }}</a></li>
	<li class="breadcrumb-item active">{{ country.slug|trans }}</li>
{% endblock %}

{% block section_container %}
	<div class="row">
		<div class="col-12">
			<h3 class="title">
				{{ "locations"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Actions"
						aria-expanded="false"
						aria-controls="collapseActions">
					{{ country.locations|length }}
				</button>
			</h3>
			<div class="collapse" id="Actions">
				{% include '_table.html.twig' with {
					'columns': locations_columns,
					'data': country.locations,
					'template': 'locations/locations_data.html.twig'
				} %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		var current_page_name = 'countries';
		$("#nav-" + current_page_name).addClass("active");
	</script>
{% endblock %}
