{% for country in data %}
    <tr>
        <td>{{ country.id }}</td>
        <td>
            <a href="{{ path('country', {'id': country.id}) }}" title="{{ "see"|trans }}">{{ country.slug|trans }}</a>
            <a href="{{ path('edit_country', {'id': country.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ country.locations|length }}</td>
    </tr>
{% endfor %}
