{% for screenshot in data %}
    <tr>
        <td>{{ screenshot.id }}</td>
        <td>{{ screenshot.externalId }}</td>
        <td>
            <a href="{{ screenshot.productUrl }}" target="_blank" title="{{ screenshot.title }}">{{ screenshot.title }}</a>
        </td>
        <td>{{ screenshot.source ? screenshot.source.name : 'n/a' }}</td>
        <td>
            {% for game in screenshot.games %}
                <li>
                    {{ game.name }}
                    <a href="{{ path('edit_game', {'id': game.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
