{% for film in data %}
    <tr>
        <td>{{ film.id }}</td>
        <td>
            {{ film.title }}
            <a href="{{ path('edit_film', {'id': film.id}) }}" title="{{ "edit"|trans }} {{ film.title }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            {% if film.enTitle %}
                <br>EN: {{ film.enTitle }}
            {% endif %}
            {% if film.frTitle %}
                <br>FR: {{ film.frTitle }}
            {% endif %}
        </td>
        <td>{{ film.year }}</td>
        <td>{{ film.ofTheYear }}</td>
        <td>{{ film.allocine }}</td>
        <td>{{ film.imdb }}</td>
        <td>{{ film.maxHeight }}</td>
        <td>{{ film.maxWidth }}</td>
        <td>
            {% for type in film.types %}
                <li>
                    <a href="{{ path('type', {'id': type.id}) }}" title="{{ "see"|trans }}">
                        {{ type.slug|upper }}
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for file in film.files %}
                <li>
                  {% include 'files/_filename.html.twig' with {'file': file} %}
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
