{% for book in data %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.isbn }}</td>
        <td>
            {{ book.title }}
            <a href="{{ path('edit_book', {'id': book.id}) }}" title="{{ "edit"|trans }} {{ book.title }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ book.releaseDate }}</td>
        <td title="{{ book.synopsis }}">{{ book.synopsis ? book.synopsis[:15] ~ '...' : '' }}</td>
        <td>{{ book.pagination }}</td>
        <td>{{ book.price }}</td>
        <td>
            {% for type in book.types %}
                <li>
                    <a href="{{ path('type', {'id': type.id}) }}" title="{{ "see"|trans }}">
                        {{ type.slug|upper }}
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for file in book.files %}
                <li>
                  {% include 'files/_filename.html.twig' with {'file': file} %}
                </li>
            {% endfor %}
        </td>
        <td>
            {% for film in book.films %}
                <li>
                  {{ film.title }} ({{ film.year }})
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
