.img-table {
	width: 120px;
}
.table-responsive {
	margin: 0;
}
.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #203650;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	margin: 0 auto;
	display: none;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #203650 !important;
}

.title {
	text-align: center;
}

.dropdown-item.active,
.dropdown-item.active:hover {
	background-color: #203650 !important;
	color: #fff !important;
}