{% for serie in data %}
    <tr>
        <td>{{ serie.id }}</td>
        <td>
            {{ serie.title }}
            <a href="{{ path('edit_serie', {'id': serie.id}) }}" title="{{ "edit"|trans }} {{ serie.title }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            {% if serie.enTitle %}
                <br>EN: {{ serie.enTitle }}
            {% endif %}
            {% if serie.frTitle %}
                <br>FR: {{ serie.frTitle }}
            {% endif %}
        </td>
        <td>{{ serie.year }}</td>
        <td>{{ serie.episodesNumber }}</td>
        <td>
            {% for type in serie.types %}
                <li>
                    <a href="{{ path('type', {'id': type.id}) }}" title="{{ "see"|trans }}">
                        {{ type.slug|upper }}
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for file in serie.files %}
                <li>
                  {% include 'files/_filename.html.twig' with {'file': file} %}
                </li>
            {% endfor %}
        </td>
        <td>
            {% if serie.links|length > 0 %}
                {{ serie.links|length }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
