{% for recording in data %}
    <tr>
        <td>{{ recording.id }}</td>
        <td>
            <a href="{{ recording.sourceURL }}" target="_blank" title="{{ recording.name }}">{{ recording.name }}</a>
        </td>
        <td>
            {% if recording.profiles|length > 0 %}
                {{ recording.profiles|length }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
