{% for progression in data %}
    <tr class="item-list" id="{{ progression.id }}">
        <td>
            {{ progression.id }}
            <a href="{{ path('edit_progression', {'id': progression.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ progression.name }}</td>
        <td>
          {% if progression.game %}
              {{ progression.game.name }}
          {% endif %}
        </td>
        <td>{{ progression.type.slug|upper }}</td>
        <td>{{ progression.confrontation }}</td>
        <td>{{ progression.difficulty }}</td>
        <td>{{ progression.description }}</td>
        <td>
            {% if progression.file %}
                {% include 'files/_filename.html.twig' with {'file': progression.file} %}
            {% endif %}
        </td>
        <td>{{ progression.videos|length }}</td>
        <td>
            {% for user in progression.users %}
                <li>
                    <a href="{{ path('user', {'id': user.id}) }}" title="{{ "see"|trans }}">
                        {{ user.username }}
                    </a>
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
