{% for scoreUser in data %}
    <tr>
        <td>
            {{ scoreUser.id }}
            <a href="{{ path('edit_user_score', {'id': scoreUser.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            <a href="{{ path('user', {'id': scoreUser.user.id}) }}" title="{{ "see"|trans }}">
                {{ scoreUser.user.username }}
            </a>
        </td>
        <td>{{ scoreUser.isWin == 1 ? 'W' : '' }}{{ scoreUser.isDraw == 1 ? 'D' : '' }}{{ scoreUser.isLose == 1 ? 'L' : '' }}</td>
        <td>{{ scoreUser.points }}</td>
        <td>{{ scoreUser.assists }}</td>
        <td>{{ scoreUser.saves }}</td>
        <td>{{ scoreUser.gameTime ? scoreUser.gameTime ~ 'm' : '' }}</td>
        <td>{{ scoreUser.distance ? scoreUser.distance ~ 'km' : '' }}</td>
        <td>{{ scoreUser.sprints }}</td>
        <td>{{ scoreUser.activity ? scoreUser.activity ~ '%' : '' }}</td>
        <td>{{ scoreUser.maxSprint ? scoreUser.maxSprint ~ 'km/h' : '' }}</td>
        <td>{{ scoreUser.averageSprint ? scoreUser.averageSprint ~ 'km/h' : '' }}</td>
        <td>{{ scoreUser.maxShot ? scoreUser.maxShot ~ 'km/h' : '' }}</td>
        <td>{{ scoreUser.runningTime }}</td>
        <td>
            {% if scoreUser.score and scoreUser.score.activity %}
                <a href="{{ path('activity', {'id': scoreUser.score.activity.id}) }}" title="{{ "see"|trans }}">
                    {{ scoreUser.score.activity.name }} {{ scoreUser.score.activity.start|date('d/m/Y H:i') }}
                </a>
                <a href="{{ path('edit_activity', {'id': scoreUser.score.activity.id}) }}" title="{{ "edit"|trans }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            {% endif %}
        </td>
        <td>
            {% if scoreUser.file %}
                {% include 'files/_filename.html.twig' with {'file': scoreUser.file} %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
