{% for userKpi in data %}
    <tr>
        <td>
            {% if userKpi.user %}
                <a href="{{ path('user', {'id': userKpi.user.id}) }}" title="{{ "see"|trans }}">
                    {{ userKpi.user.username }}
                </a>
            {% endif %}
        </td>
        <td>
            {% if userKpi.type %}
                <a href="{{ path('type', {'id': userKpi.type.id}) }}" title="{{ "see"|trans }}">{{ userKpi.type.slug|upper }}</a>
            {% endif %}
        </td>
        <td>{{ userKpi.total }}</td>
        <td>{{ userKpi.totalPoints }}</td>
        <td>{{ userKpi.totalWins }}/{{ userKpi.totalDraws }}/{{ userKpi.totalLosses }}</td>
        <td>{{ userKpi.kpiType }}</td>
        <td>{{ userKpi.updatedAt|date('d/m/Y H:i:s') }}</td>
    </tr>
{% endfor %}
