{% set source_id = file.source is defined ? file.source.id : file.source_id %}
{% set title = file.filename  ~ ' (' ~ file.duration ~ 'm ' ~ file.width ~ 'x' ~ file.height ~ ' ' ~ file.size ~ ')' %}
{% if file is defined and file.filename is not null %}
	{% if file.position is defined and file.position is not null %}
		[{{ file.position }}]
	{% endif %}

	{% if file.sourceUrl %}
		<a href="{{ file.sourceUrl }}" title="{{ title }}" target="_blank">
			{{ file.filename }}
		</a>
	{% elseif 4 == source_id %}
		{% set filepath = file.path ? file.path ~ '/' ~ file.filename : file.filename %}
		{% set filelink = aws_host ~ '/games.anthony-dessalles.com/' ~ filepath %}
		<a href="{{ filelink }}" title="{{ title }}" target="_blank">
			{{ file.filename }}
		</a>
	{% elseif file.embedHtml %}
		<a href="{{ file.embedHtml }}" title="{{ title }}" target="_blank">
			{{ file.filename }}
		</a>
	{% else %}
		{{ file.filename }}
	{% endif %}
	<a href="{{ path('edit_file', {'id': file	.id}) }}" title="{{ "edit"|trans }}">
		<i class="fa fa-pencil" aria-hidden="true"></i>
	</a>
{% endif %}
