{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/files.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{{ path }}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<a class="breadcrumb-item" href="{{ path('files') }}">{% trans %}files{% endtrans %}</a>
	<span class="breadcrumb-item active">{{ path }}</span>
{% endblock %}

{% block section_container %}
	{{ form(form) }}
{% endblock %}

