{% include '_listing_template.html.twig' with {
	'current_page_name': 'files',
	'links': ['add_file'],
	'columns': files_columns,
	'data': files,
	'table': table,
	'form': form,
	'deactivateInfiniteScroll': deactivateInfiniteScroll,
} %}