{% for file in data %}
    <tr class="item-list" id="{{ file.id }}">
        <td>{{ file.id }}</td>
        <td>
            {{ file.path }}
            <a href="{{ path('batch_file_path', {'id': file.id}) }}" title="{{ "batch_files"|trans }}">
                <i class="fa fa-list" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            {% include 'files/_filename.html.twig' with {'file': file} %}
        </td>
        <td>{{ file.date|date('d/m/Y H:i') }}</td>
        <td>{{ file.description }}</td>
        <td>{{ file.size }}</td>
        <td>{{ file.height }}</td>
        <td>{{ file.width }}</td>
        <td>{{ file.duration }}</td>
    </tr>
{% endfor %}
