{% for music in data %}
    <tr class="item-list" id="{{ music.id }}">
        <td>
            {{ music.id }}
            <a href="{{ path('edit_music', {'id': music.id}) }}" title="{{ "edit"|trans }} {{ music.id }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            {{ music.title }}
        </td>
        <td>
            {% if music.links|length > 0 %}
                {{ music.links|length }}
            {% endif %}
        </td>
        <td>
            {% for type in music.types %}
                <li>
                    <a href="{{ path('type', {'id': type.id}) }}" title="{{ "see"|trans }}">
                        {{ type.slug|upper }}
                    </a>
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
