{% for link in data %}
    <tr>
        <td>{{ link.id }}</td>
        <td>
            <a href="{{ link.url }}" title="{{ link.url }}" target="_blank">
                {{ link.url }}
            </a>
        </td>
        <td>
            {% for device in link.devices %}
                <li>
                    {{ device.title }}
                    <a href="{{ path('edit_device', {'id': device.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for profile in link.profiles %}
                <li>
                    {{ profile.name }}
                    <a href="{{ path('edit_profile', {'id': profile.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for championship in link.championships %}
                <li>
                    {{ championship.title }} {{ championship.holder }}
                    <br>{{ championship.mode }} {{ championship.game.name }} {{ championship.type.slug|upper }}
                    <a href="{{ path('edit_championship', {'id': championship.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for type in link.types %}
                <li>
                    <a href="{{ path('type', {'id': type.id}) }}" title="{{ "see"|trans }}">{{ type.slug|upper }}</a>
                    <a href="{{ path('edit_type', {'id': type.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
