{% for sport in data %}
    <tr>
        <td>{{ sport.id }}</td>
        <td>
            {{ sport.title }}
            <a href="{{ path('edit_sport', {'id': sport.id}) }}" title="{{ "edit"|trans }} {{ sport.title }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            {% if sport.enTitle %}
                <br>EN: {{ sport.enTitle }}
            {% endif %}
            {% if sport.frTitle %}
                <br>FR: {{ sport.frTitle }}
            {% endif %}
        </td>
        <td>{{ sport.year }}</td>
        <td>{{ sport.maxHeight }}</td>
        <td>{{ sport.maxWidth }}</td>
        <td>
            {% for type in sport.types %}
                <li>
                    <a href="{{ path('type', {'id': type.id}) }}" title="{{ "see"|trans }}">
                        {{ type.slug|upper }}
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for link in sport.links %}
                <li>
                    <a href="{{ link.url }}" title="{{ link.url }}" target="_blank">
                        {{ link.url[:35] }}...
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for file in sport.files %}
                <li>
                  {% include 'files/_filename.html.twig' with {'file': file} %}
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
