{% for timeline in data %}
    <tr>
        <td>{{ timeline.id }}</td>
        <td>
            {{ timeline.name }}
            <a href="{{ path('edit_timeline', {'id': timeline.id}) }}" title="{{ "edit"|trans }} {{ timeline.name }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            {{ "start"|trans }}{{ "colon"|trans }}{{ timeline.start|date('d/m/Y H:i') }}
            <br>{{ "end"|trans }}{{ "colon"|trans }}{{ timeline.end|date('d/m/Y H:i') }}
        </td>
        <td>
            {% for user in timeline.users %}
                <li>
                    <a href="{{ path('user', {'id': user.id}) }}" title="{{ "see"|trans }}">
                        {{ user.username }}
                    </a>
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
