{% extends 'base.html.twig' %}
{% set current_page_name = 'search' %}

{% block bg %}
    style="background-image: url('{{ asset('images/' ~ current_page_name ~ '.jpg')}}"
{% endblock %}

{% block content_center %}
    <h1 class="title">
        {{ current_page_name|trans }}
    </h1>
{% endblock %}

{% block breadcrumb_items %}
    <span class="breadcrumb-item active">
        {{ current_page_name|trans }}
    </span>
{% endblock %}

{% block section_container %}
    {% if message is defined and message is not null %}
        <div class="alert alert-warning">
            <i class="fa fa-warning" aria-hidden="true"></i>
            {{ message }}
        </div>
    {% endif %}
    {{ form(form) }}

    <br>
    {% if activities is defined %}
        <h3 class="title">{{ activities|length }} {{ "activities"|trans }}</h3>
        {% if activities|length > 0 %}
            {% include '_table.html.twig' with {
                'columns': activities_columns,
                'data': activities,
                'template': 'activities/activities_data.html.twig'
            } %}
        {% endif %}
    {% endif %}

    {% if albums is defined %}
        <h3 class="title">{{ albums|length }} {{ "albums"|trans }}</h3>
        {% if albums|length > 0 %}
            {% include '_table.html.twig' with {
                'columns': albums_columns,
                'data': albums,
                'template': 'albums/albums_data.html.twig'
            } %}
        {% endif %}
    {% endif %}

    {% if books is defined %}
        <h3 class="title">{{ books|length }} {{ "books"|trans }}</h3>
        {% if books|length > 0 %}
            {% include '_table.html.twig' with {
                'columns': books_columns,
                'data': books,
                'template': 'books/books_data.html.twig'
            } %}
        {% endif %}
    {% endif %}

    {% if files is defined %}
        <h3 class="title">{{ files|length }} {{ "files"|trans }}</h3>
        {% if files|length > 0 %}
            {% include '_table.html.twig' with {
                'columns': files_columns,
                'data': files,
                'template': 'files/files_data.html.twig'
            } %}
        {% endif %}
    {% endif %}

    {% if films is defined %}
        <h3 class="title">{{ films|length }} {{ "films"|trans }}</h3>
        {% if films|length > 0 %}
            {% include '_table.html.twig' with {
                'columns': films_columns,
                'data': films,
                'template': 'films/films_data.html.twig'
            } %}
        {% endif %}
    {% endif %}

    {% if games is defined %}
        <h3 class="title">{{ games|length }} {{ "games"|trans }}</h3>
        {% if games|length > 0 %}
            {% include '_table.html.twig' with {
                'columns': games_columns,
                'data': games,
                'template': 'games/games_data.html.twig'
            } %}
        {% endif %}
    {% endif %}

    {% if series is defined %}
        <h3 class="title">{{ series|length }} {{ "series"|trans }}</h3>
        {% if series|length > 0 %}
            {% include '_table.html.twig' with {
                'columns': series_columns,
                'data': series,
                'template': 'series/series_data.html.twig'
            } %}
        {% endif %}
    {% endif %}

    {% if sports is defined %}
        <h3 class="title">{{ sports|length }} {{ "sports"|trans }}</h3>
        {% if sports|length > 0 %}
            {% include '_table.html.twig' with {
                'columns': sports_columns,
                'data': sports,
                'template': 'sports/sports_data.html.twig'
            } %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var current_page_name = '{{ current_page_name }}';
        $("#nav-" + current_page_name).addClass("active");
    </script>
{% endblock %}
