{% for type in data %}
    <tr>
        <td>{{ type.id }}</td>
        <td>
            <a href="{{ path('type', {'id': type.id}) }}" title="{{ "see"|trans }}">{{ type.slug|upper }}</a>
            <a href="{{ path('edit_type', {'id': type.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ type.family|upper }}</td>
        <td>
            {% for link in type.links %}
                <li>
                    <a href="{{ link.url }}" title="{{ link.url }}" target="_blank">
                        {{ link.url[:35] }}...
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for album in type.albums %}
                <li>
                    {% if album.shareableUrl %}
                        <a href="{{ album.shareableUrl }}" target="_blank">{{ album.title }}</a>
                    {% else %}
                        <a href="{{ album.productUrl }}" target="_blank">{{ album.title }}</a>
                    {% endif %}
                    <a href="{{ path('edit_album', {'id': album.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
