{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/types.jpg')}}"{% endblock %}

{% block content_center %}
	<h1>{{ type.slug|upper }}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('types') }}">{% trans %}types{% endtrans %}</a></li>
	<li class="breadcrumb-item active">{{ type.slug|upper }}</li>
{% endblock %}

{% block section_container %}
	<div class="row">
		<div class="col-12">
			<h2 class="title">{{ "info"|trans }}</h2>

			<h3 class="title">
				{{ "activities"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Activities"
						aria-expanded="false"
						aria-controls="collapseActivities">
					{{ type.activities|length }}
				</button>
			</h3>
			<div class="collapse" id="Activities">
				{% include '_table.html.twig' with {
					'columns': activities_columns,
					'data': type.activities,
					'template': 'activities/activities_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "books"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Books"
						aria-expanded="false"
						aria-controls="collapseBooks">
					{{ type.books|length }}
				</button>
			</h3>
			<div class="collapse" id="Books">
				{% include '_table.html.twig' with {
					'columns': books_columns,
					'data': type.books,
					'template': 'books/books_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "devices"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Devices"
						aria-expanded="false"
						aria-controls="collapseDevices">
					{{ type.devices|length }}
				</button>
			</h3>
			<div class="collapse" id="Devices">
				{% include '_table.html.twig' with {
					'columns': devices_columns,
					'data': type.devices,
					'template': 'devices/devices_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "films"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Films"
						aria-expanded="false"
						aria-controls="collapseFilms">
					{{ type.films|length }}
				</button>
			</h3>
			<div class="collapse" id="Films">
				{% include '_table.html.twig' with {
					'columns': films_columns,
					'data': type.films,
					'template': 'films/films_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "games"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Games"
						aria-expanded="false"
						aria-controls="collapseGames">
					{{ type.games|length }}
				</button>
			</h3>
			<div class="collapse" id="Games">
				{% include '_table.html.twig' with {
					'columns': games_columns,
					'data': type.games,
					'template': 'games/games_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "links"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Links"
						aria-expanded="false"
						aria-controls="collapseLinks">
					{{ type.links|length }}
				</button>
			</h3>
			<div class="collapse" id="Links">
				{% include '_table.html.twig' with {
					'columns': links_columns,
					'data': type.links,
					'template': 'links/links_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "series"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Series"
						aria-expanded="false"
						aria-controls="collapseSeries">
					{{ type.series|length }}
				</button>
			</h3>
			<div class="collapse" id="Series">
				{% include '_table.html.twig' with {
					'columns': series_columns,
					'data': type.series,
					'template': 'series/series_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "sports"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Sports"
						aria-expanded="false"
						aria-controls="collapseSports">
					{{ type.sports|length }}
				</button>
			</h3>
			<div class="collapse" id="Sports">
				{% include '_table.html.twig' with {
					'columns': sports_columns,
					'data': type.sports,
					'template': 'sports/sports_data.html.twig'
				} %}
			</div>
		</div>
	</div><!-- row -->
{% endblock %}

{% block javascripts %}
	<script>
		var current_page_name = 'types';
		$("#nav-" + current_page_name).addClass("active");
	</script>
{% endblock %}

