{% for compatibility in data %}
    <tr>
        <td>
            {{ compatibility.id }}
            <a href="{{ path('edit_compatibility', {'id': compatibility.id}) }}" title="{{ "edit"|trans }} {{ compatibility.id }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ compatibility.storage }}</td>
        <td>{{ compatibility.status }}</td>
        <td>{{ compatibility.software }}</td>
        <td>
            {% if compatibility.game %}
                {{ compatibility.game.name }}
                <a href="{{ path('edit_game', {'id': compatibility.game.id}) }}" title="{{ "edit"|trans }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            {% endif %}
        </td>
        <td>
            {% if compatibility.type %}
                <a href="{{ path('type', {'id': compatibility.type.id}) }}" title="{{ "see"|trans }}">{{ compatibility.type.slug|upper }}</a>
                <a href="{{ path('edit_type', {'id': compatibility.type.id}) }}" title="{{ "edit"|trans }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            {% endif %}
        </td>
        <td>
            {% if compatibility.device %}
                {{ compatibility.device.title }}
                <a href="{{ path('edit_device', {'id': compatibility.device.id}) }}" title="{{ "edit"|trans }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
            {% endif %}
        </td>
        <td>
            {% for file in compatibility.files %}
                <li>
                  {% include 'files/_filename.html.twig' with {'file': file} %}
                </li>
            {% endfor %}
        </td>
        <td>
            {% if compatibility.creator %}
                <a href="{{ path('user', {'id': compatibility.creator.id}) }}" title="{{ "see"|trans }}">
                    {{ compatibility.creator.username }}
                </a>
            {% endif %}
        </td>
        <td>{{ compatibility.createdAt|date('Y-m-d H:i') }}</td>
        <td>
            {% if compatibility.updatedBy %}
                <a href="{{ path('user', {'id': compatibility.updatedBy.id}) }}" title="{{ "see"|trans }}">
                    {{ compatibility.updatedBy.username }}
                </a>
            {% endif %}
        </td>
        <td>{{ compatibility.updatedAt|date('Y-m-d H:i') }}</td>
    </tr>
{% endfor %}
