<p>{{ "hi"|trans }} {{ user.name }} {{ user.surname }},</p>

<p>{{ "your_data_from_datacenter"|trans }} {{ "is_available_below"|trans }}.</p>

<p>{{ "you_have_been_tagged_in"|trans }} {{ user.activities|length }} {{ "activities"|trans }}{{ "colon"|trans }}</p>

<table width="100%" style="border-collapse: collapse;">
    <tr>
        {% for column in ["name", "type", "date", "users", "albums"] %}
            <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ column|trans }}</th>
        {% endfor %}
    </tr>

    {% set currentYear = null %}
    {% for activity in user.activities %}
        {% if activity.start %}
            {% if activity.start|date('Y') != currentYear %}
                {% set currentYear = activity.start ? activity.start|date('Y') : null %}
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 5px;">
                        <b>{{ "year"|trans }} {{ currentYear }}</b>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr style="{{ (loop.index is even) ? '' : 'background-color: #dddddd;' }}">
            <td style="border: 1px solid #dddddd; text-align: left; padding: 5px;">
                {{ activity.name }}
            </td>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                {% if activity.type %}
                    {{ activity.type.slug|upper }}
                {% endif %}
            </td>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                {{ "start"|trans }}{{ "colon"|trans }}{{ activity.start|date('d/m/Y H:i') }}
                <br>{{ "end"|trans }}{{ "colon"|trans }}{{ activity.end|date('d/m/Y H:i') }}
            </td>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                {% for user in activity.users %}
                    <li>{{ user.name }} {{ user.surname }}</li>
                {% endfor %}
            </td>
            <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                {% for album in activity.albums %}
                    {% if album.shareableUrl %}
                        <a href="{{ album.shareableUrl }}" target="_blank">{{ album.title }}</a>
                    {% else %}
                        {{ album.title }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
