{% set currentYear = null %}
{% for activity in data %}
    {% if activity.start %}
        {% if activity.start|date('Y') != currentYear %}
            {% set currentYear = activity.start ? activity.start|date('Y') : null %}
            <tr>
                <td><b>{{ "year"|trans }} {{ currentYear }}</b></td>
            </tr>
        {% endif %}
    {% endif %}
    <tr class="item-list" id="{{ activity.id }}">
        <td>{{ activity.id }}</td>
        <td>
            <a href="{{ path('activity', {'id': activity.id}) }}" title="{{ "see"|trans }}">{{ activity.name }}</a>
            <a href="{{ path('edit_activity', {'id': activity.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            {% if activity.type %}
                <a href="{{ path('type', {'id': activity.type.id}) }}" title="{{ "see"|trans }}">{{ activity.type.slug|upper }}</a>
            {% endif %}
        </td>
        <td>
            {{ "start"|trans }}{{ "colon"|trans }}{{ activity.start|date('d/m/Y H:i') }}
            <br>{{ "end"|trans }}{{ "colon"|trans }}{{ activity.end|date('d/m/Y H:i') }}
        </td>
        <td>
            {% if activity.place %}
                <a href="{{ path('place', {'id': activity.place.id}) }}" title="{{ activity.place.name }}">
                    {{ activity.place.name }}
                </a>
                {% if activity.place.location %}
                    <br>
                    <a href="{{ path('location', {'id': activity.place.location.id}) }}" title="{{ activity.place.location.slug|trans }}">
                        {{ activity.place.location.slug|trans }}
                    </a>
                    {% if activity.place.location and activity.place.location.country %}
                        <br>
                        <a href="{{ path('country', {'id': activity.place.location.country.id}) }}"
                           title="{{ activity.place.location.country.slug|trans }}">
                            {{ activity.place.location.country.slug|trans }}
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </td>
        <td>
            {% for user in activity.users %}
                <li>
                    <a href="{{ path('user', {'id': user.id}) }}" title="{{ "see"|trans }}">
                        {{ user.username }}
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for album in activity.albums %}
                <li>
                    {% if album.shareableUrl %}
                        <a href="{{ album.shareableUrl }}" target="_blank">{{ album.title }}</a>
                    {% else %}
                        <a href="{{ album.productUrl }}" target="_blank">{{ album.title }}</a>
                    {% endif %}
                    <a href="{{ path('edit_album', {'id': album.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>{{ activity.source ? activity.source.name : 'n/a' }}</td>
    </tr>
{% endfor %}
