{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/activities.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{{ "activity_users"|trans }}</h1>
	<p class="category">
		<a href="{{ path('activity', {'id': activity.id}) }}">{{ activity.name }}</a>
		<br>{{ activity.start|date('l d/m/Y H:i') }} - {{ activity.end|date('l d/m/Y H:i') }}
	</p>
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('activities') }}">{{ "activities"|trans }}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('activity', {'id': activity.id}) }}">{{ activity.name }}</a></li>
	<li class="breadcrumb-item active">{{ "activity_users"|trans }}</li>
{% endblock %}

{% block section_container %}
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="row">
				<div class="col-12">
					<h2 class="title">{{ activity.users|length }} {{ "users"|trans }}</h2>
					<div class="row table-responsive">
						<table class="table table-sm table-striped">
							<thead class="bg-neutral">
								<tr>
									<th><b>{{ usersEmails|length }} {{ "users_emails"|trans }}</b></th>
								</tr>
							</thead>
							<tbody>
							<tr class="item-list">
								<td>
									{% for userEmail in usersEmails %}
										{{ userEmail }}
									{% endfor %}
								</td>
							</tr>
							</tbody>
						</table>
					</div><!-- row -->

					<h2 class="title">{{ usersEmailsAssociations|length }} {{ "users_emails_associations"|trans }}</h2>
					{% for usersEmailsAssociation, currentEmails in usersEmailsAssociations %}
						<div class="row table-responsive">
							<table class="table table-sm table-striped">
								<thead class="bg-neutral">
								<tr>
									<th><b>{{ usersEmailsAssociation }} ({{ currentEmails|length }})</b></th>
								</tr>
								</thead>
								<tbody>
								<tr class="item-list">
									<td>
										{% for userEmail in currentEmails %}
											{{ userEmail }}
										{% endfor %}
									</td>
								</tr>
								</tbody>
							</table>
						</div><!-- row -->
					{% endfor %}
				</div>
			</div><!-- row -->
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		var current_page_name = 'activities';
		$("#nav-" + current_page_name).addClass("active");
	</script>
{% endblock %}
