{% set message = null %}

{% if activitiesWithName is defined and activitiesWithName is not empty %}
    {% set message = 'Some activities with the same name have been found:' %}
    {% for activity in activitiesWithName %}
        {% set message %}
            {{ message }}
            <li><a href="{{ path('edit_activity', {'id': activity.id}) }}" title="{{ "edit"|trans }}">
                {{ activity.name }} {{ activity.start|date('d/m/Y') }}
            </a>
            </li>
        {% endset %}
    {% endfor %}
{% endif %}

{% include '_form_template.html.twig' with {
    'current_page_name': 'activity',
    'listing_name': 'activities',
    'data': activity,
    'message': message,
} %}
