{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/activities.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{{ activity.name }}</h1>
    <p class="category">{{ activity.start|date('l d/m/Y H:i') }} - {{ activity.end|date('l d/m/Y H:i') }}</p>
	{% if activity.type %}
		<p class="category">
			<a href="{{ path('type', {'id': activity.type.id}) }}" title="{{ "see"|trans }}">{{ activity.type.slug|upper }}</a>
		</p>
	{% endif %}
    <a href="{{ path('edit_activity', {'id': activity.id}) }}" class="btn btn-primary">{{ "edit"|trans }}</a>
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('activities') }}">{{ "activities"|trans }}</a></li>
	<li class="breadcrumb-item active">{{ activity.name }}</li>
{% endblock %}

{% block section_container %}
	<div class="row">
		<div class="col-12">
			<h2 class="title">
				{{ "info"|trans }}
				{% if activity.users|length %}
					&raquo; <a href="{{ path('activity_users', {'id': activity.id}) }}" title="{{ "activity_users"|trans }}">
						{{ "activity_users"|trans }}
					</a>
				{% endif %}
			</h2>
			<div class="row table-responsive">
				<table class="table table-sm table-striped">
					<tbody>
            <tr>
							<td>{{ "source"|trans }}</td>
							<td>{{ activity.source ? activity.source.name : null }}</td>
						</tr>
						<tr>
							<td>{{ "description"|trans }}</td>
							<td>{{ activity.description ? activity.description : null }}</td>
						</tr>
						<tr>
							<td>{{ "type"|trans }}</td>
							<td>{{ activity.type ? activity.type.slug|upper : null }}</td>
						</tr>
						<tr>
							<td>{{ "place"|trans }}</td>
							<td>{{ activity.place ? activity.place.name : null }}</td>
						</tr>
						<tr>
							<td>{{ "location"|trans }}</td>
							<td>{{ activity.place and activity.place.location ? activity.place.location.slug|trans : null }}</td>
						</tr>
						<tr>
							<td>{{ "country"|trans }}</td>
							<td>{{ activity.place and activity.place.location and activity.place.location.country
								? activity.place.location.country.slug|trans
								: null }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h3 class="title">
				{{ "albums"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Albums"
						aria-expanded="false"
						aria-controls="collapseAlbums">
					{{ activity.albums|length }}
				</button>
			</h3>
			<div class="collapse" id="Albums">
				{% include '_table.html.twig' with {
					'columns': albums_columns,
					'data': activity.albums,
					'template': 'albums/albums_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "users"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Users"
						aria-expanded="false"
						aria-controls="collapseUsers">
					{{ activity.users|length }}
				</button>
			</h3>
			<div class="collapse" id="Users">
				{% include '_table.html.twig' with {
					'columns': users_columns,
					'data': activity.users,
					'template': 'users/users_data.html.twig'
				} %}
			</div>

			{% if activity.score %}
				<hr>
				<h2 class="title">{{ "score"|trans }}</h2>
				<div class="row table-responsive">
					<table class="table table-sm table-striped">
						<tbody>
  						<tr>
  							<td>{{ "home"|trans }}</td>
                <td>{{ "score"|trans }}</td>
                <td>{{ "away"|trans }}</td>
                <td>{{ "duration"|trans }}</td>
                <td>{{ "difficulty"|trans }}</td>
                <td>{{ "players"|trans }}</td>
  						</tr>
  						<tr>
                <td>
                  {{ activity.score.home ?: 'n/a' }}
                  {% for scoreUser in activity.score.scoreUsers %}
                    {% if scoreUser.isHome == 1 %}
                      <li>
                        {{ scoreUser.user.username }} {{ scoreUser.points }}pts
                      </li>
                    {% endif %}
                  {% endfor %}
                </td>
                <td>{{ activity.score.homeAwayDifference }} ({{ activity.score.homePoints }}-{{ activity.score.awayPoints }})</td>
                <td>
                  {{ activity.score.away ?: 'n/a' }}
                  {% for scoreUser in activity.score.scoreUsers %}
                    {% if scoreUser.isHome == 0 %}
                      <li>
                        {{ scoreUser.user.username }} {{ scoreUser.points }}pts
                      </li>
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                    {% set difference = date(activity.end).diff(date(activity.start)) %}
                    {% set hours = difference.h %}
                    {% set minutes = difference.i %}

                    {{ hours }}h{{ minutes ?: '' }}
                </td>
                <td>{{ activity.score.difficulty }}</td>
  							<td>{{ activity.score.homePlayers }}v{{ activity.score.awayPlayers }}</td>
  						</tr>
						</tbody>
					</table>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		var current_page_name = 'activities';
		$("#nav-" + current_page_name).addClass("active");
	</script>
{% endblock %}
