{% for game in data %}
    <tr class="item-list" id="{{ game.id }}">
        <td>
            {% if (game.igdbId) and (game.igdbUrl) %}
                <a href="{{ game.igdbUrl }}" title="{{ game.igdbUrl }}" target="_blank">
                    {{ game.igdbId }}
                </a>
            {% else %}
                {{ game.igdbId }}
            {% endif %}
        </td>
        <td>
            <a href="{{ library_url }}/games/{{ game.id }}" title="{{ "see"|trans }}" target="_blank">
                {{ game.name }}
            </a>
            <a href="{{ path('edit_game', {'id': game.id}) }}" title="{{ "edit"|trans }} {{ game.name }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            {% if (game.playlists|length > 0) or (game.screenshots|length > 0) %}
                <a href="{{ path('game_markdown', {
                    'id': game.id,
                    'year': game.date|date('Y'),
                    'month': game.date|date('m'),
                    'day': game.date|date('d'),
                    'slug': game.slug,
                }) }}" title="{{ "markdown"|trans ~ ' ' ~ game.name }}" target="_blank">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                </a>
            {% else %}
                <i>{{ "no_content"|trans }}</i>
            {% endif %}
            {% if game.frenchName %}
              <br>{{ game.frenchName }}
            {% endif %}
        </td>
        <td>
            {{ game.date|date('d/m/Y') }}
            {% if game.ofTheYear %}
                <br>Best of {{ game.ofTheYear }}
            {% endif %}
        </td>
        <td>{{ game.difficulties }}</td>
        <td>
            {% for type in game.types %}
                <li>
                    <a href="{{ path('type', {'id': type.id}) }}" title="{{ "see"|trans }}">
                        {{ type.slug|upper }}
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% if game.suggestion %}
                {{ game.suggestion.name }}
                {% for type in game.suggestion.types %}
                    {% if 'steam' == type.slug %}
                        {{ type.slug|upper }}
                    {% endif %}
                {% endfor %}
                {% for compatibility in game.suggestion.compatibilities %}
                    {{ compatibility.type.slug|upper }} {{ compatibility.status }}
                {% endfor %}
            {% endif %}
        </td>
        <td>
            {% if game.albums|length > 0 %}
                {{ game.albums|length }}
            {% endif %}
        </td>
        <td>
            {% if game.compatibilities|length > 0 %}
                {{ game.compatibilities|length }}
            {% endif %}
        </td>
        <td>
            {% if game.files|length > 0 %}
                {{ game.files|length }}
            {% endif %}
        </td>
        <td>
            {% if game.playlists|length > 0 %}
                {{ game.playlists|length }}
            {% endif %}
        </td>
        <td>
            {% if game.progressions|length > 0 %}
                {{ game.progressions|length }}
            {% endif %}
        </td>
        <td>
            {% if game.scores|length > 0 %}
                {{ game.scores|length }}
            {% endif %}
        </td>
        <td>
            {% if game.screenshots|length > 0 %}
                {{ game.screenshots|length }}
            {% endif %}
        </td>
        <td>
            {% for user in game.users %}
                <li>
                    <a href="{{ path('user', {'id': user.id}) }}" title="{{ "see"|trans }}">
                        {{ user.username }}
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% if game.isEnabled %}
                <span class="badge badge-success">{{ "ok"|trans }}</span>
            {% else %}
                <span class="badge badge-danger">{{ "ko"|trans }}</span>
            {% endif %}
        </td>
    </tr>
{% endfor %}
