---<br>
title: "{{ name }}"<br>
{% if french_name %}
french_title: "{{ french_name }}"<br>
{% endif %}
slug: "{{ slug }}"<br>
post_date: "{{ post_date|date('d/m/Y') }}"<br>

files:<br>
{% for file in files %}
    {% if file.source is defined and 4 == file.source.id %}
        {% set date = file.date ? file.date|date('d/m/Y') : 'n/a' %}
        {% set filepath = file.path ? file.path ~ '/' ~ file.filename : file.filename %}
        {% set filelink = aws_host ~ '/' ~ file.source.name ~ '/' ~ filepath %}

&nbsp;&nbsp;{{ file.id }}:<br>
&nbsp;&nbsp;&nbsp;&nbsp;filename: "{{ file.filename }}"<br>
&nbsp;&nbsp;&nbsp;&nbsp;date: "{{ date }}"<br>

        {% if file.embedHtml %}
&nbsp;&nbsp;&nbsp;&nbsp;slug: <br>
&nbsp;&nbsp;&nbsp;&nbsp;path: "{{ file.path }}"<br>
&nbsp;&nbsp;&nbsp;&nbsp;embedHtml: {{ file.embedHtml }}<br>
        {% else %}
&nbsp;&nbsp;&nbsp;&nbsp;slug: "{{ filelink }}"<br>
&nbsp;&nbsp;&nbsp;&nbsp;path: "{{ file.path }}"<br>
        {% endif %}
    {% endif %}
{% endfor %}

playlists:<br>
{% for playlist in playlists %}
&nbsp;&nbsp;{{ playlist.id }}:<br>
&nbsp;&nbsp;&nbsp;&nbsp;title: "{{ playlist.title }}"<br>
&nbsp;&nbsp;&nbsp;&nbsp;publishedAt: "{{ playlist.publishedAt ? playlist.publishedAt|date('d/m/Y') : 'n/a' }}"<br>
&nbsp;&nbsp;&nbsp;&nbsp;embedHtml: {{ playlist.embedHtml }}<br>
{% endfor %}

tags:<br>
{% for user in users %}
        {% if user.gamername %}
&nbsp;&nbsp;- "{{ user.gamername }}"<br>
        {% endif %}
{% endfor %}

categories:<br>
{% for type in types %}
&nbsp;&nbsp;- "{{ type }}"<br>
{% endfor %}

updates:<br>
{% for update in updates %}
&nbsp;&nbsp;- "{{ update }}"<br>
{% endfor %}
---<br>
{{ "{% include 'article.html' %}" }}<br>
