{% extends 'base.html.twig' %}

{% block bg %}
    style="background-image: url('{{ asset('images/' ~ listing_name ~ '.jpg')}}"
{% endblock %}

{% block content_center %}
    <h1 class="title">
        {{ data.id ? "edit"|trans : "add"|trans }} {{ current_page_name|trans }} {{ data.id }}
    </h1>
{% endblock %}

{% block breadcrumb_items %}
    <a class="breadcrumb-item" href="{{ path(listing_name) }}">{{ listing_name|trans }}</a>
    <span class="breadcrumb-item active">
        {{ data.id ? "edit"|trans : "add"|trans }} {{ current_page_name|trans }} {{ data.id }}
    </span>
{% endblock %}

{% block section_container %}
    {% if message is defined and message is not null %}
        <div class="alert alert-warning">
            <i class="fa fa-warning" aria-hidden="true"></i>
            {{ message }}
        </div>
    {% endif %}
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        var current_page_name = '{{ listing_name }}';
        $("#nav-" + current_page_name).addClass("active");
    </script>
{% endblock %}
