{% extends 'base.html.twig' %}

{% block bg %}
    style="background-image: url('{{ asset('images/' ~ current_page_name ~ '.jpg')}}"
{% endblock %}

{% block content_center %}
    {% include '_main_title.html.twig' with {
        'title': count ~ ' ' ~ current_page_name|trans,
        'links': links,
        'enriched': enriched is defined ? enriched : null,
    } %}
{% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item active">{{ current_page_name|trans }}</li>
{% endblock %}

{% block section_container %}
    {% if form is defined %}
        {{ form(form) }}
        <br>
    {% endif %}

    <div class="row table-responsive">
        {% include '_table.html.twig' with {
            'columns': columns,
            'data': data,
            'template': current_page_name ~ '/' ~ current_page_name ~ '_data.html.twig'
        } %}
    </div>
{% endblock %}

{% set infiniteScroll = (deactivateInfiniteScroll is defined and deactivateInfiniteScroll == true) ? false : true %}
{% block javascripts %}
    {% if table is defined and infiniteScroll %}
        {% include "infinite_scroll.html.twig" with {'table': table} %}
    {% endif %}
    <script>
        var current_page_name = '{{ current_page_name }}';
        $("#nav-" + current_page_name).addClass("active");
    </script>
{% endblock %}

