<h1 class="title">{{ title }}</h1>
{% if enriched is defined and enriched is not null %}
	<p class="category">{{ enriched }} {{ 'enriched'|trans }}</p>
{% endif %}
{% if links is defined %}
	<div class="text-center">
		{% for link in links %}
	        <a href="{{ path(link) }}" title="{{ link|trans }}" class="btn btn-primary">{{ link|trans }}</a>
	    {% endfor %}
	</div>
{% endif %}
