<div class="row table-responsive">
    <table class="table table-sm table-striped">
        <thead class="bg-neutral">
            <tr>
                {% for column in columns %}
                    <th>{{ column|trans }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% include template with {'data': data} %}
        </tbody>
    </table>
</div><!-- row -->