<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% trans %}datacenter{% endtrans %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/datacenter.min.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#000000">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body {% block body_class %}{% endblock %}>
        <nav class="navbar navbar-toggleable-md bg-primary fixed-top navbar-transparent" {% block scroll %}color-on-scroll="300"{% endblock %}>
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right" type="button"
                        data-toggle="collapse"
                        data-target="#navigation"
                        aria-controls="navigation-index"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-between" id="navigation">
                <ul class="navbar-nav">
                    {% set nav_links = [
                        'home',
                        'activities',
                        'albums',
                        'books',
                        'championships',
                        'compatibilities',
                        'content',
                        'devices',
                        'files',
                        'films',
                        'games',
                        'links',
                        'music',
                        'profiles',
                        'progressions',
                        'recordings',
                        'scores',
                        'series',
                        'sports',
                        'timelines',
                        'types',
                        'users',
                        'whereabouts',
                    ] %}
                    {% for nav_link in nav_links %}
                        {% if nav_link == 'users' %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ nav_link }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" id="nav-{{ "users" }}" href="{{ path("users") }}">
                                        {{ "users"|trans }}
                                    </a>
                                    <a class="dropdown-item" id="nav-{{ "user_kpis" }}" href="{{ path("user_kpis") }}">
                                        {{ "user_kpis"|trans }}
                                    </a>
                                    <a class="dropdown-item" id="nav-{{ "user_scores" }}" href="{{ path("user_scores") }}">
                                        {{ "user_scores"|trans }}
                                    </a>
                                </div>
                            </li>
                        {% elseif nav_link == 'content' %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ nav_link }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" id="nav-{{ "playlists" }}" href="{{ path("playlists") }}">
                                        {{ "playlists"|trans }}
                                    </a>
                                    <a class="dropdown-item" id="nav-{{ "screenshots" }}" href="{{ path("screenshots") }}">
                                        {{ "screenshots"|trans }}
                                    </a>
                                </div>
                            </li>
                        {% elseif nav_link == 'whereabouts' %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ nav_link }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" id="nav-{{ "countries" }}" href="{{ path("countries") }}">
                                        {{ "countries"|trans }}
                                    </a>
                                    <a class="dropdown-item" id="nav-{{ "locations" }}" href="{{ path("locations") }}">
                                        {{ "locations"|trans }}
                                    </a>
                                    <a class="dropdown-item" id="nav-{{ "places" }}" href="{{ path("places") }}">
                                        {{ "places"|trans }}
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item" id="nav-{{ nav_link }}">
                                <a class="nav-link" href="{{ path(nav_link) }}">{{ nav_link|trans }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item" id="nav-search">
                        <a class="nav-link" href="{{ path('search') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>{{ is_granted('IS_AUTHENTICATED_FULLY')? app.user.username : "not_connected"|trans }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a class="dropdown-item" href="{{ path('user', {'id': app.user.id}) }}" title="{{ "details"|trans }}">
                                    {{ "details"|trans }}
                                </a>
                                <a class="dropdown-item" href="{{ path('logout') }}" title="{{ "logout"|trans }}">
                                    {{ "logout"|trans }}
                                </a>
                            {% else %}
                                <a class="dropdown-item" href="{{ path('login_form') }}" title="{{ "login"|trans }}">
                                    {{ "login"|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">

                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}
            <div class="wrapper">
                <div class="page-header page-header-small" {% block filter_color %}{% endblock %}>
                    <div class="page-header-image" data-parallax="true" {% block bg %}{% endblock %}>
                    </div>
                    <div class="container">
                        <div class="content-center">
                            {% block content_center %}{% endblock %}
                        </div>
                    </div>
                </div>
                {% block breadcrumb %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">{% trans %}home{% endtrans %}</a></li>
                        {% block breadcrumb_items %}{% endblock %}
                    </ol>
                {% endblock %}
            </div><!-- wrapper -->
            <div class="section">
                <div class="container">
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>

                    {% endfor %}
                    {% for label, messages in app.flashes(['success', 'warning']) %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block section_container %}{% endblock %}
                </div><!-- container -->
                <div class="loader" id="loader_scroll"></div>
            </div><!-- section -->
        {% endblock %}
        {% block footer %}
        <footer class="footer footer-default">
            <div class="container">
                <div class="copyright">
                    &copy; {{ "now"|date("Y") }}, {{ "datacenter"|trans }}
                </div>
            </div>
        </footer>
        {% endblock %}
        <script src="{{ asset('js/datacenter.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
</body>
</html>
