{% extends 'base.html.twig' %}
{% set current_page_name = 'home' %}

{% block scroll %}{% endblock %}

{% block bg %}style="background-image: url('{{ asset('images/' ~ current_page_name ~ '.jpg')}}"{% endblock %}

{% block content_center %}
  {% include '_main_title.html.twig' with {'title': 'home'|trans} %}
{% endblock %}

{% block section_container %}
<div class="row">
  <div class="col-12">
    <h3 class="title"><a href="https://symfony.com/releases" target="_blank">Symfony</a></h3>
    <h3 class="title"><a href="https://www.mysql.com/" target="_blank">MySQL</a></h3>    
    <h3 class="title"><a href="https://api-platform.com/" target="_blank">API Platform</a></h3>
    <h3 class="title"><a href="https://www.creative-tim.com/product/now-ui-kit" target="_blank">Now UI Kit</a></h3>
	</div><!-- col-12 -->
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var current_page_name = '{{ current_page_name }}';
        $("#nav-" + current_page_name).addClass("active");
    </script>
{% endblock %}

{% block footer %}{% endblock %}

