<script type="text/javascript">
    is_processing = false;
    last_page = false;

    function addMoreElements(url) {
        is_processing = true;

        $.ajax({
            type: "GET",
            dataType: 'json',
            url: url,
            beforeSend: function() {
                $('#loader_scroll').show();
            },
            success: function(data) {
                var count = data['count'];
                var stop = data['stop'];

                if (count > 0) {
                    $('.item-list').last().after(data['view']);
                    $('table').trigger('update');
                }

                last_page = stop ? true : false;
                is_processing = false;
            },
            error: function() {
                is_processing = false;
            },
            complete: function () {
                $('#loader_scroll').hide();
            }
        });
    }

    $(window).scroll(function() {
        var wintop = $(window).scrollTop(), docheight = $(document).height(), winheight = $(window).height();
        var scrolltrigger = 0.80;

        var offset = $('.item-list').length;
        var url = '{{ path('ajax_infinite_scroll', {'offset': 'offset', 'table': table}) }}';
        url = url.replace("offset", offset);

        if ((wintop / (docheight - winheight)) > scrolltrigger) {
            if (last_page === false && is_processing === false) {
                addMoreElements(url);
            }
        }
    });
</script>