{% for profile in data %}
    <tr>
        <td>{{ profile.id }}</td>
        <td>
            <a href="{{ path('profile', {'id': profile.id}) }}" title="{{ profile.name }}">{{ profile.name }}</a>
            <a href="{{ path('edit_profile', {'id': profile.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ profile.ofTheYear }}</td>
        <td>
            {% for type in profile.types %}
                <li>
                    <a href="{{ path('type', {'id': type.id}) }}" title="{{ "see"|trans }}">
                        {{ type.slug|upper }}
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% if profile.championships|length > 0 %}
                {{ profile.championships|length }}
            {% endif %}
        </td>
        <td>
            {% if profile.scores|length > 0 %}
                {{ profile.scores|length }}
            {% endif %}
        </td>
        <td>
            {% if profile.recordings|length > 0 %}
                {{ profile.recordings|length }}
            {% endif %}
        </td>
        <td>
            {% if profile.sports|length > 0 %}
                {{ profile.sports|length }}
            {% endif %}
        </td>
        <td>
            {% if profile.playlists|length > 0 %}
                {{ profile.playlists|length }}
            {% endif %}
        </td>
        <td>
            {% if profile.links|length > 0 %}
                {{ profile.links|length }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
