{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/profiles.jpg') }}')"{% endblock %}

{% block content_center %}
	<h1 class="title">{{ profile.name }}</h1>
	<a href="{{ path('edit_profile', {'id': profile.id}) }}" class="btn btn-primary">{{ "edit"|trans }}</a>
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item">
		<a href="{{ path('profiles') }}">{{ "profiles"|trans }}</a>
	</li>
	<li class="breadcrumb-item active">{{ profile.name }}</li>
{% endblock %}

{% block section_container %}
	<div class="row">
		<div class="col-12">
			<h2 class="title">{{ "info"|trans }}</h2>
			<div class="row table-responsive">
				<table class="table table-sm table-striped">
					<tbody>
						<tr>
							<td>{{ "of_the_year"|trans }}</td>
							<td>{{ profile.ofTheYear }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h3 class="title">
				{{ "links"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Links"
						aria-expanded="false"
						aria-controls="collapseLinks">
					{{ profile.links|length }}
				</button>
			</h3>
			<div class="collapse" id="Links">
				{% include '_table.html.twig' with {
					'columns': links_columns,
					'data': profile.links,
					'template': 'links/links_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "playlists"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Playlists"
						aria-expanded="false"
						aria-controls="collapsePlaylists">
					{{ profile.playlists|length }}
				</button>
			</h3>
			<div class="collapse" id="Playlists">
				{% include '_table.html.twig' with {
					'columns': playlists_columns,
					'data': profile.playlists,
					'template': 'playlists/playlists_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "championships"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Championships"
						aria-expanded="false"
						aria-controls="collapseChampionships">
					{{ profile.championships|length }}
				</button>
			</h3>
			<div class="collapse" id="Championships">
				{% include '_table.html.twig' with {
					'columns': championships_columns,
					'data': profile.championships,
					'template': 'championships/championships_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "sports"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Sports"
						aria-expanded="false"
						aria-controls="collapseSports">
					{{ profile.sports|length }}
				</button>
			</h3>
			<div class="collapse" id="Sports">
				{% include '_table.html.twig' with {
					'columns': sports_columns,
					'data': profile.sports,
					'template': 'sports/sports_data.html.twig'
				} %}
			</div>

			<h3 class="title">
				{{ "scores"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Scores"
						aria-expanded="false"
						aria-controls="collapseScores">
					{{ profile.scores|length }}
				</button>
			</h3>
			<div class="collapse" id="Scores">
				{% include '_table.html.twig' with {
					'columns': scores_columns,
					'data': profile.scores,
					'template': 'scores/scores_data.html.twig'
				} %}
			</div>
		</div>
	</div><!-- row -->
{% endblock %}

{% block javascripts %}
	<script>
		var current_page_name = 'profiles';
		$("#nav-" + current_page_name).addClass("active");
	</script>
{% endblock %}
