{% for device in data %}
    <tr>
        <td>{{ device.id }}</td>
        <td>
            {{ device.title }}
            <a href="{{ path('edit_device', {'id': device.id}) }}" title="{{ "edit"|trans }} {{ device.title }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ device.purchase }}</td>
        <td>{{ device.price }}</td>
        <td>{{ device.number }}</td>
        <td>{{ device.year }}</td>
        <td>{{ device.generation }}</td>
        <td title="{{ device.description }}">{{ device.description ? device.description[:15] ~ '...' : '' }}</td>
        <td>{{ device.bugs }}</td>
        <td>
            {% for type in device.types %}
                <li>
                    <a href="{{ path('type', {'id': type.id}) }}" title="{{ type.slug|trans }}">
                        {{ type.slug|upper }}
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for link in device.links %}
                <li>
                    <a href="{{ link.url }}" title="{{ link.url }}" target="_blank">
                        {{ link.url[:35] }}...
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for file in device.files %}
                <li>
                  {% include 'files/_filename.html.twig' with {'file': file} %}
                </li>
            {% endfor %}
        </td>
        <td>
            {% if device.isEnabled %}
                <span class="badge badge-success">{{ "ok"|trans }}</span>
            {% else %}
                <span class="badge badge-danger">{{ "ko"|trans }}</span>
            {% endif %}
        </td>
    </tr>
{% endfor %}
