{% for album in data %}
    <tr>
        <td>{{ album.id }}</td>
        <td>
            {{ album.title }}
            <a href="{{ path('edit_album', {'id': album.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            {% if album.productUrl %}
                <a href="{{ album.productUrl }}" title="{{ album.productUrl }}" target="_blank">
                    {{ album.productUrl[:15] }}...
                </a>
            {% endif %}
        </td>
        <td>
            {% if album.shareableUrl %}
                <a href="{{ album.shareableUrl }}" title="{{ album.shareableUrl }}" target="_blank">
                    {{ album.shareableUrl[:15] }}...
                </a>
            {% endif %}
        </td>
        <td>{{ album.source ? album.source.name : 'n/a' }}</td>
        <td>
            {% for activity in album.activities %}
                <li>
                    <a href="{{ path('activity', {'id': activity.id}) }}" title="{{ "see"|trans }}">
                        {{ activity.name }}
                    </a>
                </li>
            {% else %}
                <a href="{{ path('add_album_activity', {'id': album.id}) }}" title="{{ "add_activity"|trans }}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            {% endfor %}
        </td>
        <td>
            {% for game in album.games %}
                <li>
                    {{ game.name }}
                    <a href="{{ path('edit_game', {'id': game.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for user in album.users %}
                <li>
                    <a href="{{ path('user', {'id': user.id}) }}" title="{{ "see"|trans }}">
                        {{ user.username }}
                    </a>
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
