{% for location in data %}
    <tr>
        <td>{{ location.id }}</td>
        <td>
            <a href="{{ path('location', {'id': location.id}) }}" title="{{ "see"|trans }}">
                {{ location.slug|trans }}
            </a>
            <a href="{{ path('edit_location', {'id': location.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            {% if location.country %}
                <a href="{{ path('country', {'id': location.country.id}) }}" title="{{ "see"|trans }}">
                    {{ location.country.slug|trans }}
                </a>
            {% endif %}
        </td>
        <td>{{ location.places|length }}</td>
    </tr>
{% endfor %}
