{% for playlist in data %}
    <tr>
        <td>{{ playlist.id }}</td>
        <td title="{{ playlist.externalId }}">{{ playlist.externalId[:5] }}...</td>
        <td>
            <a href="https://www.youtube.com/playlist?list={{ playlist.externalId }}" title="{{ playlist.title }}" target="_blank">
                {{ playlist.title }}
            </a>
        </td>
        <td>{{ playlist.publishedAt ? playlist.publishedAt|date('d/m/Y H:i') : 'n/a' }}</td>
        <td>{{ playlist.status }}</td>
        <td title="{{ playlist.embedHtml }}">
            {{ playlist.embedHtml ? playlist.embedHtml[:5] ~ '...' : '' }}
        </td>
        <td>{{ playlist.source ? playlist.source.name : 'n/a' }}</td>
        <td>
            {% if playlist.productUrl %}
                <a href="{{ playlist.productUrl }}" title="{{ playlist.productUrl }}" target="_blank">
                    {{ playlist.productUrl[:15] }}...
                </a>
            {% endif %}
        </td>
        <td>
            {% for game in playlist.games %}
                <li>
                    {{ game.name }}
                    <a href="{{ path('edit_game', {'id': game.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
        <td>
            {% for profile in playlist.profiles %}
                <li>
                    {{ profile.name }}
                    <a href="{{ path('edit_profile', {'id': profile.id}) }}" title="{{ "edit"|trans }}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </li>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
