{% for user in data %}
    <tr>
        <td>{{ user.id }}</td>
        <td>
            <a href="{{ path('user', {'id': user.id}) }}" title="{{ user.username }}">{{ user.username }}</a>
            <a href="{{ path('edit_user', {'id': user.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.gamername }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.association }}</td>
        <td>
            {% if user.files|length > 0 %}
                {{ user.files|length }}
            {% endif %}
        </td>
    </tr>
{% endfor %}