{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/users.jpg') }}')"{% endblock %}

{% block content_center %}
	<h1 class="title">{{ user.username }}</h1>
	<a href="{{ path('edit_user', {'id': user.id}) }}" class="btn btn-primary">{{ "edit"|trans }}</a>
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item">
		<a href="{{ path('users') }}">{{ "users"|trans }}</a>
	</li>
	<li class="breadcrumb-item active">{{ user.username }}</li>
{% endblock %}

{% block section_container %}
	<div class="row">
		<div class="col-12">
			<h2 class="title">{{ "info"|trans }}</h2>
			<div class="row table-responsive">
				<table class="table table-sm table-striped">
					<tbody>
						{% for userData in ['name', 'surname', 'gamername', 'email', 'role', 'association'] %}
							<tr>
								<td>{{ userData|trans }}</td>
								<td>{{ attribute(user, userData) }}</td>
							</tr>
						{% endfor %}
						{% if user.youtubeEmbedId %}
							<tr>
								<td>{{ "youtube_embed"|trans }}</td>
								<td>
									<a href="https://www.youtube.com/watch?v={{ user.youtubeEmbedId }}" target="_blank">{{ user.youtubeEmbedId }}</a>
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>

			<h3 class="title">
				{{ user.userScores|length }} {{ "user_scores"|trans }}
			</h3>
			<div class="row table-responsive">
					<table class="table table-sm table-striped">
							<thead class="bg-neutral">
								<tr>
									<th>{{ "type"|trans }}</th>
									<th>{{ "scores"|trans }}</th>
									<th>{{ "points"|trans }}</th>
									<th>{{ "W/D/L" }}</th>
									<th>{{ "average_pts"|trans }}</th>
									<th>{{ "W%"|trans }}</th>
									<th>{{ "D%"|trans }}</th>
									<th>{{ "L%"|trans }}</th>
								</tr>
							</thead>
							<tbody>
								{% for slug,userScoreAvg in userScoresAvg %}
									<tr>
										<td>{{ slug|upper }}</td>
										<td>{{ userScoreAvg.count }}</td>
										<td>{{ userScoreAvg.pts }}</td>
										<td>{{ userScoreAvg.wins }}/{{ userScoreAvg.draws }}/{{ userScoreAvg.losses }}</td>
										<td>{{ (userScoreAvg.pts / userScoreAvg.count)|round(2) }}</td>
										<td>{{ (userScoreAvg.wins*100 / userScoreAvg.count)|round }}</td>
										<td>{{ (userScoreAvg.draws*100 / userScoreAvg.count)|round }}</td>
										<td>{{ (userScoreAvg.losses*100 / userScoreAvg.count)|round }}</td>
									</tr>
								{% endfor %}
							</tbody>
					</table>
			</div><!-- row -->
		</div>
	</div><!-- row -->
{% endblock %}

{% block javascripts %}
	<script>
		var current_page_name = 'users';
		$("#nav-" + current_page_name).addClass("active");
	</script>
{% endblock %}
