{% extends 'base.html.twig' %}

{% block bg %}style="background-image: url('{{ asset('images/places.jpg')}}"{% endblock %}

{% block content_center %}
    <h1 class="title">{{ place.name }}</h1>
{% endblock %}

{% block breadcrumb_items %}
	<li class="breadcrumb-item"><a href="{{ path('places') }}">{{ "places"|trans }}</a></li>
	<li class="breadcrumb-item active">{{ place.name }}</li>
{% endblock %}

{% block section_container %}
	<div class="row">
		<div class="col-12">
			<h3 class="title">
				{{ "activities"|trans }}
				<br>
				<button class="btn btn-primary dropdown-toggle dropdown-toggle" type="button" title="{{ "see_more"|trans }}"
						data-toggle="collapse"
						data-target="#Actions"
						aria-expanded="false"
						aria-controls="collapseActions">
					{{ place.activities|length }}
				</button>
			</h3>
			<div class="collapse" id="Actions">
				{% include '_table.html.twig' with {
					'columns': activities_columns,
					'data': place.activities,
					'template': 'activities/activities_data.html.twig'
				} %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		var current_page_name = 'places';
		$("#nav-" + current_page_name).addClass("active");
	</script>
{% endblock %}
