{% for place in data %}
    <tr>
        <td>{{ place.id }}</td>
        <td>
            <a href="{{ path('place', {'id': place.id}) }}" title="{{ place.name }}">{{ place.name }}</a>
            <a href="{{ path('edit_place', {'id': place.id}) }}" title="{{ "edit"|trans }}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </td>
        <td>
            {% if place.location %}
                <a href="{{ path('location', {'id': place.location.id}) }}" title="{{ place.location.slug|trans }}">
                    {{ place.location.slug|trans }}
                </a>
            {% endif %}
        </td>
        <td>
            {% if place.location and place.location.country %}
                <a href="{{ path('country', {'id': place.location.country.id}) }}"
                   title="{{ place.location.country.slug|trans }}">
                    {{ place.location.country.slug|trans }}
                </a>
            {% endif %}
        </td>
        <td>{{ place.activities|length }}</td>
    </tr>
{% endfor %}
